@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  @apply bg-[#292F34] text-white;
}

h2 {
  @apply text-lg font-semibold;
}

.horizontal-slider {
  width: 100%;
  height: 50px;
}

.example-thumb {
  @apply bg-primary text-white px-4 py-3 rounded-lg cursor-col-resize -ml-[40px] -top-[50px] text-xl;
}
.example-thumb-indicator {
  @apply bg-primary h-[40px] w-[8px] -ml-[2px] block content-[""] absolute top-full mt-2 left-1/2 rounded-lg;
}
.example-thumb-arrows {
  @apply border-primary text-primary rounded-full border flex items-center justify-center h-[30px] w-[30px] absolute top-full mt-[55px] left-1/2  -ml-[13px] rotate-90 opacity-50;
}
.horizontal-slider {
  @apply left-[43px];
}

.example-mark {
  width: 1px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  opacity: 0.5;
  cursor: pointer;
  vertical-align: middle;
  margin: 0;
  top: calc(50% - 6px);
  position: absolute;
}

.example-mark:nth-child(10n + 14) {
  height: 29px;
  opacity: 1;
  top: calc(50% - 10px);
  border-radius: 20px;
}

/* Loader */
.spinner_ajPY--parent {
  @apply w-4 h-4;
}
.spinner_ajPY {
  transform-origin: center;
  animation: spinner_AtaB 0.75s infinite linear;
}
@keyframes spinner_AtaB {
  100% {
    transform: rotate(360deg);
  }
}
